In [39]:
import pandas as pd
from psycopg2 import connect
from sqlalchemy import create_engine

# class Configuration:
#     PG_HOST = 'business-intelligent-db.cw1neqwhyrda.eu-central-1.rds.amazonaws.com'
#     PG_USER = 'postgres'
#     PG_PWD = '52eXzbKbqmY2x45f'

PROCESSING_FILE_NAME = '1996.csv'
DB_NAME = 'airline'
TABLE_NAME = 'flight'

class Configuration:
    PG_HOST = 'localhost'
    PG_USER = 'postgres'
    PG_PWD = 'gherukdnbi6lrn4ieljb549ew9j4v98le5j9v48vl5ee'
    
engine = create_engine(f"postgresql://{Configuration.PG_USER}:{Configuration.PG_PWD}@{Configuration.PG_HOST}:5432/{DB_NAME}")
conn = engine.connect()
psy_conn = connect(host=Configuration.PG_HOST,
                   user=Configuration.PG_USER,
                   password=Configuration.PG_PWD,
                   database="airline",
                   port=5432)

In [20]:
import os
import psycopg2
# Not correct way to copy to pg db table
def copy_from_file(conn, table):
    # save the dataframe on disk as a csv file, load
    # the csv file and use copy_from() to copy it to the table
    tmp_df = f"./result/{PROCESSING_FILE_NAME}"
    # df.to_csv(tmp_df, header=True, index=False)
    f = open(tmp_df, 'r')
    cursor = conn.cursor()
    try:
        cursor.copy_from(f, table, sep=',')
        conn.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        # os.remove(tmp_df)
        print("Error: %s" %error)
        conn.rollback()
        conn.close()
        return 1
    print("copy_from_file() done")
    cursor.close()
    # os.remove(tmp_df)

In [8]:
# Not use anymore
# connect to our postgres DB
conn = connect(host=Configuration.PG_HOST,
                user=Configuration.PG_USER,
                password=Configuration.PG_PWD,
                database="airline",
                port=5432)
copy_from_file(conn, 'flight')

Error: invalid input syntax for type integer: "year"
CONTEXT:  COPY flight, line 1, column year: "year"

1

## Load data from csv (corrected way)

In [40]:
processed_flight_df = f"./result/{PROCESSING_FILE_NAME}"
flight_df = pd.read_csv(processed_flight_df)
flight_df.dtypes

year                     int64
month                    int64
day_of_month             int64
day_of_week              int64
dep_time                object
crs_dep_time            object
arr_time                object
crs_arr_time            object
unique_carrier          object
flight_num               int64
tail_num                object
actual_elapsed_time    float64
crs_elapsed_time       float64
air_time               float64
arr_delay              float64
dep_delay              float64
origin                  object
dest                    object
distance                 int64
taxi_in                  int64
taxi_out                 int64
cancelled                int64
diverted                 int64
dtype: object

In [31]:
def convert_df_to_db_data_type(df):
    df['cancelled'] = df['cancelled'].astype(bool)
    df['diverted'] = df['diverted'].astype(bool)

In [43]:
# convert pandas df to db record data type
convert_df_to_db_data_type(flight_df)
flight_df.dtypes
flight_df.head()

,year,month,day_of_month,day_of_week,dep_time,crs_dep_time,arr_time,crs_arr_time,unique_carrier,flight_num,...,air_time,arr_delay,dep_delay,origin,dest,distance,taxi_in,taxi_out,cancelled,diverted
0,1996,1,29,1,1996-01-29 20:39:00,1996-01-29 19:30:00,1996-01-29 22:45:00,1996-01-29 21:39:00,DL,345,...,230.0,66.0,69.0,ATL,PHX,1587,6,10,False,False
1,1996,1,30,2,1996-01-30 19:31:00,1996-01-30 19:30:00,1996-01-30 21:42:00,1996-01-30 21:39:00,DL,345,...,224.0,3.0,1.0,ATL,PHX,1587,5,22,False,False
2,1996,1,31,3,1996-01-31 19:56:00,1996-01-31 19:30:00,1996-01-31 22:31:00,1996-01-31 21:39:00,DL,345,...,241.0,52.0,26.0,ATL,PHX,1587,7,27,False,False
3,1996,1,1,1,1996-01-01 17:30:00,1996-01-01 15:50:00,1996-01-01 19:09:00,1996-01-01 17:45:00,DL,411,...,201.0,84.0,100.0,ATL,PHX,1587,4,14,False,False
4,1996,1,2,2,1996-01-02 17:14:00,1996-01-02 15:50:00,1996-01-02 18:41:00,1996-01-02 17:45:00,DL,411,...,195.0,56.0,84.0,ATL,PHX,1587,4,8,False,False

In [44]:
# Save df to db
flight_df.to_sql(TABLE_NAME, engine, if_exists='append', index=False)

psy_conn.autocommit = True
cursor = psy_conn.cursor()
  
sql1 = 'SELECT count(*) from flight;'
cursor.execute(sql1)
for i in cursor.fetchall():
    print(i)

# conn.commit()
conn.close()

(19949292,)